### Importing the necessary libraries

In [1]:
import pandas

In [2]:
from pandas.io.html import read_html

### Creating a DataFrame from the table given at the webpage

In [3]:
page = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [4]:
wikitables = read_html(page, attrs={"class": "wikitable"})

In [5]:
df = wikitables[0]

In [6]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [7]:
df.columns = ["PostalCode", "Borough", "Neighborhood"]

In [8]:
df.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned                         NaN
1        M2A      Not assigned                         NaN
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

### Removing the rows from Borough column that are not assigned

In [9]:
df.drop(df.index[df["Borough"] == "Not assigned"], inplace = True)

In [10]:
df.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [11]:
#fixing the format of Neighborhood column
df["Neighborhood"] = df['Neighborhood'].apply(lambda x : x.replace('/', ','))
df.head(10)

   PostalCode           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government
8         M9A         Etobicoke                              Islington Avenue
9         M1B       Scarborough                               Malvern , Rouge
11        M3B        North York                                     Don Mills
12        M4B         East York              Parkview Hill , Woodbine Gardens
13        M5B  Downtown Toronto                      Garden District, Ryerson

### Combining Neighbourhoods based on similar Postcode and Borough

In [12]:
df = df.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(','.join).reset_index()
df.columns = ['PostalCode','Borough','Neighborhood']
df.head(10)

  PostalCode      Borough                                       Neighborhood
0        M1B  Scarborough                                    Malvern , Rouge
1        M1C  Scarborough           Rouge Hill , Port Union , Highland Creek
2        M1E  Scarborough                Guildwood , Morningside , West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
5        M1J  Scarborough                                Scarborough Village
6        M1K  Scarborough      Kennedy Park , Ionview , East Birchmount Park
7        M1L  Scarborough                  Golden Mile , Clairlea , Oakridge
8        M1M  Scarborough  Cliffside , Cliffcrest , Scarborough Village West
9        M1N  Scarborough                       Birch Cliff , Cliffside West

### Assigning Borough values to the Neignbourhood where vlaue is "Not assigned" or "NaN"

In [13]:
df.loc[df['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df['Borough']
df['Neighborhood'].fillna(df["Borough"], inplace = True)

In [14]:
df.head()

  PostalCode      Borough                              Neighborhood
0        M1B  Scarborough                           Malvern , Rouge
1        M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
2        M1E  Scarborough       Guildwood , Morningside , West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [15]:
df.shape

(103, 3)